pysindy~=1.7.5
numpy~=1.26
scipy~=1.13.1
scikit-learn~=1.4.2
nbformat~=5.9.2
ipykernel~=6.28.0
nbconvert~=7.10.0
derivative~=0.6.2
cvxpy~=1.5.2
matplotlib~=3.9.1
numba~=0.60.0
tqdm~=4.66.4
joblib~=1.4.2
optuna~=3.6.1